### 確認安裝成功

In [1]:
import pandas as pd

# 檢查 Pandas 版本
print("Pandas version:", pd.__version__)

# 建立簡單的 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# 顯示 DataFrame
print("\nSample DataFrame:\n", df)

Pandas version: 2.2.2

Sample DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### series

In [2]:
s = pd.Series([1, 3, 5, 7, 9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

### dataframe

In [3]:
# 從字典創建 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [4]:
# 取得 Series 中的元素
print(s[2])

print('\n')
# 選擇 DataFrame 中的某一列
print(df['Name'])

5


0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

### read_csv

In [5]:
df_csv=pd.read_csv('data.csv')

In [6]:
# 顯示 DataFrame 的前幾行
print(df_csv.head())

# 檢查列名
print(df_csv.columns)

# 檢查資料型態
print(df_csv.dtypes)

# 獲取基本統計資訊
print(df_csv.describe())

      Name  Age  Gender           City
0     John   25    Male       New York
1    Emily   30  Female  San Francisco
2  Michael   35    Male        Chicago
3   Sophia   28  Female    Los Angeles
4   Daniel   40    Male          Miami
Index(['Name', 'Age', 'Gender', 'City'], dtype='object')
Name      object
Age        int64
Gender    object
City      object
dtype: object
            Age
count  10.00000
mean   30.40000
std     8.82169
min    18.00000
25%    25.50000
50%    29.00000
75%    36.50000
max    45.00000

### 選擇行和列

In [8]:
# 創建一個範例 DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6], 
        'C': [7, 8, 9]}
df=pd.DataFrame(data)
print("原資料：")
print(df)
# 選擇列 "A" 和 "B"
selected_columns=df[['A','B']]
print("\n選擇資料：")
print(selected_columns)

原資料：
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

選擇資料：
   A  B
0  1  4
1  2  5
2  3  6

### 條件篩選

In [9]:
filtered_rows=df[df['A']>1]
print(filtered_rows)

   A  B  C
1  2  5  8
2  3  6  9

### 索引方法

In [15]:
selected_data_loc=df.loc[1:2,['A','C']]
selected_data_loc

   A  C
1  2  8
2  3  9

In [16]:
selected_data_iloc=df.iloc[1:3,[0,2]]
selected_data_iloc

   A  C
1  2  8
2  3  9

### 移除重複值

In [ ]:
data = {'Name': ['John', 'Jane', 'John', 'Alice', 'Bob', 'Bob'],
        'Age': [25, 30, 25, 35, 40, 40]}